@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
}


.public-box {
    padding-top: 0 !important;
    margin-top: 0 !important; /* Add this to ensure there's no margin on top */
}

.public-text {
    background-color: #ffc107;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}

.public-bgc {
    background-color: #fff;
    margin-top: 10px;
    /* height: 12.5rem !important; */
    padding: 10px !important;
}

.token-card {
    margin-left: 6px;
    border-radius: 3px;
    height: 2.3rem;
    padding: 8px;
}
.more-txt {
    color: #CFC4AE;
    font-size: 17px;
    font-weight: 700;
}
.ccn-text{
    font-size: small;
}
.arrow-icon {
    height: 2rem;
    width: 2.5rem;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.pendle-card {
    border-radius: 12px !important;
}
.watch-text {
    width: max-content;
}

.loader {
    --d:44px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #96D59D;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 2px,
    calc(0*var(--d))      calc(1*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 6px,
    calc(-1*var(--d))     calc(0*var(--d))     0 8px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 10px,
    calc(0*var(--d))      calc(-1*var(--d))    0 12px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}